{{> header }}

<div class="container-fluid" id="main-events-container">
	<div class="row">
		<div class="col-xs-8" id="first-event">
			<div id="event-img-container">
				<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/10504962_10152220161903494_4258255813689693131_o.jpg"/>
			</div>
			<div id="event-details">
				<h1>Film Screening & Panel Discussion: "The Internet's Own Boy"</h1>
				<h2>July 04, 2014 19:20-22:30</h2>
			</div>
		</div>
		<div class="col-xs-4" id="list-events"></div>
	</div>
</div>
<!--

    <div class="posts">

			{{#recent_posts}}
      <article class="hentry"> 
        <h2 class="entry-title"><a href="{{ permalink }}">{{{ title }}}</a></h2>
				<time class="updated" datetime="{{#iso_date}}{{ published_date }}{{/iso_date}}" pubdate>{{#long_date}}{{published_date}}{{/long_date}}</time>

        <div class="entry-content">
          {{{ content }}}
        </div>
				{{#is_teaser}}
        <div><a href="{{ permalink }}" class="more">More »</a></div>
				{{/is_teaser}}
      </article>
			{{/recent_posts}}

		</div>
		
		<div id="browse_archive">
			<a href="/archive">Browse Archive</a>
		</div>
-->
{{> footer }}
